<p>
  <strong>プロフィール画像(ファイル名):</strong>
  <%= @user.profile_image_file_name %>
</p>

<p>
  <strong>ニックネーム:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>ニックネーム:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>年齢</strong>
  <%= @user.birthday %>
</p>

<p>
  <strong>性別:</strong>
  <%= @user.gender %>
</p>

<p>
  <strong>住んでいる場所:</strong>
  <%= @user.prefecture  %>
</p>
